<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <header id = "about-header">
        <h1>About</h1>
        <div id = "about-div-link">
            <a id = "home-link" title = "Home" href = "/">🏠</a>
            <a id = "notes-link" title = "All Notes" href = "/notes">📁</a>
            <a id = "create-link" title = "New Note" href = "/notes/create">📝</a>
        </div>
    </header>
    <main id = "about-main">
        <p>
            Elit elit culpa laborum mollit ut incididunt duis nostrud cillum fugiat est cillum amet occaecat. Amet est magna occaecat velit voluptate nulla nisi. Dolore veniam sit in dolor incididunt nisi voluptate magna. Excepteur consequat proident nostrud reprehenderit magna eiusmod aute nostrud enim est magna commodo aliqua excepteur. Enim Lorem et excepteur voluptate dolore culpa amet laborum ex aliqua. Adipisicing culpa id cillum amet ipsum anim occaecat quis laborum. Non officia esse dolore non dolor exercitation fugiat in aliquip deserunt in irure.

            Veniam eu magna eiusmod irure voluptate aute consectetur officia Lorem officia minim commodo mollit. Nulla labore nulla aliquip aliqua labore esse duis occaecat exercitation elit mollit laboris. Eu fugiat incididunt et sint esse sunt adipisicing voluptate incididunt ullamco excepteur laboris voluptate nisi. Consectetur qui qui duis cupidatat ipsum dolor commodo ut irure irure. Eu quis dolore est ad in enim deserunt in cillum magna enim consectetur voluptate ullamco. Velit tempor culpa dolore aute mollit ex dolore nostrud amet pariatur eiusmod quis.

            Adipisicing aute amet incididunt laboris nisi amet. Veniam aute sit irure laboris veniam proident. Irure consequat dolor proident amet pariatur tempor dolor culpa eiusmod quis id. Sit magna ut aliquip fugiat irure mollit elit est pariatur. Nulla fugiat voluptate sit culpa esse qui aliqua ullamco adipisicing magna ut sint qui.

            Sunt quis est dolore esse labore consectetur aliqua. Elit magna irure anim ea occaecat sunt anim nisi consectetur. In irure consequat id labore est labore ad proident amet dolore occaecat. Laborum adipisicing sint id Lorem aute dolor consectetur deserunt. Exercitation esse ipsum cupidatat elit ipsum aute excepteur proident amet sint occaecat esse aute. Nostrud ut anim commodo minim aute cillum eiusmod aliqua quis nulla qui ea. Aute aute irure magna eiusmod veniam dolor quis sit.

            Labore laborum adipisicing excepteur fugiat et Lorem tempor dolore aute mollit occaecat aute excepteur aliqua. In id elit id nulla pariatur ea non dolore laborum dolor irure tempor. Ullamco mollit mollit id ut aute incididunt id dolor. Ad laboris esse ex enim laborum reprehenderit aute esse exercitation labore sunt non duis. Fugiat tempor ut consequat est mollit aute laboris ad proident eiusmod tempor.
        </p>
    </main>
    <%- include("./partials/footer.ejs") %> 
</body>
</html>