
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Henny+Penny&family=Montserrat:ital,wght@0,500;1,500&family=Pacifico&family=Zen+Maru+Gothic:wght@300&display=swap');

a{
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: center;
    font-size: small;
}

h1{
    color:red;
}

#index-main{
    display: flex;
    justify-content: center;
}

#index-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: center;
    height: 100vh;
}

#index-h2-app-name{
    font-family: 'Henny Penny', cursive; 
    letter-spacing: 5px;
}

#notes-header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

#notes-main-content{
    padding-left: 20px;
}

#notes-link-div{
    display: flex;
    width: 20%;
    justify-content: space-around;
}

#notes-search-content{
    display: flex;
    justify-content: center;
}

#notes-search-icon{
    position: relative;
    right: 30px;
    display:flex;
    align-items: center;
}

#notes-input{
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}

#notes-input:hover{
    box-shadow: 3px 3px 8px black;
}

#notes-input[type=text]{
    padding: 5px 30px 5px 10px;
}

#notes-grid-view-link, #notes-grid-view-list-link{
    color: rgb(96, 95, 160);
    font-size: 20px;   
} 

#home-link:hover, #about-link:hover, #create-link:hover, 
#notes-link:hover, #index-a-notes:hover,
#display-note-span-back:hover,
#edit-note-span-back:hover,
#display-note-span-edit:hover,
#display-note-span-delete:hover,
#notes-grid-view-link:hover,
#notes-grid-view-list-link:hover
{
    border-radius: 25px;
    background-color: rgb(219, 219, 219);
    padding: 5px;

}

.notes-h1{
    background-color: rgb(243, 226, 170);
    padding: 10px;
    width: max-content;
    border-left: 5px solid red;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    font-family: 'Montserrat', sans-serif;
}

.notes-a:hover, #display-note-span-back:hover, 
#edit-note-span-back:hover, #display-note-span-edit:hover,
#display-note-span-delete:hover{
    color: red;
}

#notes-main{
    padding-left: 10px;
}

#display-note-main{
    display: flex;
    justify-content: center;
}

#display-note-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    overflow-wrap: break-word; 
    padding: 20px;
    border-top: 3mm ridge rgb(255, 0, 0);
    border-bottom: 3mm ridge rgb(255, 0, 0);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(rgb(240, 240, 163), rgba(252, 180, 177, 0.911)),
    url('../images/background-image.jpg');
}

/* Overflow-wrap: break-word; => This is to take care of the overflow of text body  */

#display-note-header{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}

#display-note-div-back{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#display-note-div-edit-delete{
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
}

#display-note-span-back, #display-note-span-edit{
    color: rgb(80, 79, 79);
}

#display-note-button-delete{
    background-color: white;
    border: none;
    color: rgba(247, 6, 6, 0.651);
}

#display-note-h1-title{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#display-note-h4-subject{
    margin: 10px 0 5px 0;
    font-family: 'Courgette', cursive;
}

#display-note-p-body{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bolder;
}

#display-note-hr{
    width: 90%;
    border: none;
    border-top: 2px solid red;
}

#about-header, #create-note-header, #edit-note-header, #error-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;
}

#about-div-link, #create-note-div-link, #edit-note-div-link, #error-div-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
}

#about-main{
    padding: 20px;
    margin: 10px 30px;
    background-color: bisque;
    border-radius: 20px;
}

#create-note-main, #edit-note-main{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#create-note-form, #edit-note-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: antiquewhite;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 5px solid red;
}

#title, #subject, #body, #submit{
    margin: 10px;
}

#edit-note-div-back-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#error-p{
    padding: 10px;
}

#notes-grid-view-main-content, #notes-grid-view-notes-outer-div{
    margin: 0 30px;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.notes-grid-view-notes-link{
    height: max-content;
}

.notes-grid-view-individual-note-div{
    background-color: beige;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid red;
    box-shadow: 2px 2px 7px black;
    font-size: x-small;
    
}

.notes-grid-view-note-title{
    color: red;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}

.notes-grid-view-note-subject{
    font-family: 'Courgette', cursive;
    color: dodgerblue;
    letter-spacing: 1px;

}

.notes-grid-view-note-body{
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bolder;
    color:rgb(87, 86, 143);
}

.notes-grid-view-note-subject:hover, .notes-grid-view-note-body:hover{
    color: red;
}




